workflows/pipeline_b.json
{
  "name": "Pipeline B - Onboarding to v2 Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "613a11b5-abf7-4f9e-9f69-3022447cad62"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst dir = '/data/transcripts/onboarding';\nconst allFiles = fs.readdirSync(dir);\nconst filtered = allFiles.filter(f => f.endsWith('.txt') && f !== '.gitkeep');\n\n// Derive account_id: \"onboarding_claraai.txt\" → \"demo_claraai\"\nreturn filtered.map(filename => {\n  const stem = path.basename(filename, '.txt');                 // e.g. \"onboarding_claraai\"\n  const account_id = stem.replace(/^onboarding_/, 'demo_');    // → \"demo_claraai\"\n  const content = fs.readFileSync(path.join(dir, filename), 'utf8')\n    .replace(/^\\uFEFF/, '').trim();\n  return { json: { account_id, transcript: content, filename } };\n});\n"
      },
      "name": "Read Onboarding File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "425f7ec5-1c38-4d4d-8bcc-2ac2f631e3fb"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const { transcript, account_id } = item.json;\n\n  const prompt = `You are an expert at extracting structured business configuration from onboarding call transcripts.\nExtract ONLY the fields that are explicitly confirmed in this onboarding call. Return ONLY valid JSON, no explanation, no markdown.\nReturn this structure with only the fields you find:\n{\n  \"account_id\": \"${account_id}\",\n  \"company_name\": \"\",\n  \"business_hours\": { \"days\": \"\", \"start\": \"\", \"end\": \"\", \"timezone\": \"\" },\n  \"office_address\": \"\",\n  \"services_supported\": [],\n  \"emergency_definition\": [],\n  \"emergency_routing_rules\": { \"primary\": \"\", \"order\": [], \"fallback\": \"\" },\n  \"non_emergency_routing_rules\": \"\",\n  \"call_transfer_rules\": { \"timeout_seconds\": null, \"retries\": null, \"message_if_fails\": \"\" },\n  \"integration_constraints\": [],\n  \"after_hours_flow_summary\": \"\",\n  \"office_hours_flow_summary\": \"\",\n  \"questions_or_unknowns\": [],\n  \"notes\": \"\"\n}\n\nRules:\n- Only extract what is EXPLICITLY confirmed. Do not guess.\n- Leave fields blank / empty if not mentioned.\n- Return ONLY the JSON object.\n\nTranscript:\n${transcript}`;\n\n  return { json: { account_id, transcript, prompt } };\n});\n"
      },
      "name": "Build Onboarding Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "cf00cca1-57c9-4beb-97b6-ded7b0cc5a9c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Onboarding Updates (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "020ac28a-b3b4-42bb-81b3-cf84709bc6c5"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const raw = item.json.response || '';\n  const account_id = item.json.account_id;\n  try {\n    const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) throw new Error('No JSON found');\n    const updates = JSON.parse(jsonMatch[0]);\n    return { json: { updates, account_id } };\n  } catch(e) {\n    return { json: { parse_error: true, error_message: e.message, raw_response: raw, account_id } };\n  }\n});\n"
      },
      "name": "Parse Onboarding Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "b3f0b922-42eb-4bd9-a169-57f8e0345601"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nreturn $input.all().map(item => {\n  if (item.json.parse_error) return item;\n\n  const updates = item.json.updates;\n  const account_id = item.json.account_id;\n\n  // Load existing v1 memo\n  const v1Path = `/outputs/accounts/${account_id}/v1/account_memo_v1.json`;\n  let v1Memo = {};\n  try {\n    v1Memo = JSON.parse(fs.readFileSync(v1Path, 'utf8'));\n  } catch(e) {\n    return { json: { error: 'v1 memo not found — run Pipeline A first', path: v1Path, account_id } };\n  }\n\n  const changes = [];\n\n  function applyUpdate(v1, upd, path = '') {\n    for (const key of Object.keys(upd)) {\n      const newVal = upd[key];\n      const oldVal = v1[key];\n      if (newVal === null || newVal === '' || (Array.isArray(newVal) && newVal.length === 0)) continue;\n      if (typeof newVal === 'object' && !Array.isArray(newVal)) {\n        if (!v1[key]) v1[key] = {};\n        applyUpdate(v1[key], newVal, path + key + '.');\n      } else {\n        if (JSON.stringify(oldVal) !== JSON.stringify(newVal)) {\n          changes.push({ field: path + key, from: oldVal, to: newVal });\n          v1[key] = newVal;\n        }\n      }\n    }\n  }\n\n  applyUpdate(v1Memo, updates);\n  v1Memo.version = 'v2';\n  v1Memo.source = 'onboarding_call';\n\n  return { json: { v2Memo: v1Memo, changes, account_id } };\n});\n"
      },
      "name": "Merge and Patch v1 to v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "b6c77323-de2f-4e03-ac87-af930704e2f0"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  if (item.json.error || item.json.parse_error) return item;\n\n  const { v2Memo, changes, account_id } = item.json;\n  const bh = v2Memo.business_hours || {};\n  const er = v2Memo.emergency_routing_rules || {};\n\n  const toArray = (val) => {\n    if (!val) return [];\n    if (Array.isArray(val)) return val;\n    if (typeof val === 'string') return [val];\n    return [];\n  };\n\n  const emergencyDef = toArray(v2Memo.emergency_definition).join(', ') || 'sprinkler leak, fire alarm';\n  const constraints = toArray(v2Memo.integration_constraints);\n  const erOrder = toArray(er.order);\n\n  const prompt = `You are Clara, an AI receptionist for ${v2Memo.company_name || 'this company'}.\n\nBUSINESS HOURS FLOW (${bh.days || 'Mon-Fri'}, ${bh.start || '8AM'}-${bh.end || '5PM'} ${bh.timezone || ''}):\n1. Greet: \"Thank you for calling ${v2Memo.company_name || 'us'}, this is Clara. How can I help you today?\"\n2. Listen to purpose. Collect name and callback number.\n3. Transfer to the appropriate team.\n4. If transfer fails after ${(v2Memo.call_transfer_rules || {}).timeout_seconds || 30} seconds: apologize, confirm callback, close politely.\n\nAFTER HOURS FLOW:\n1. Greet: \"Thank you for calling ${v2Memo.company_name || 'us'}. You've reached us outside of business hours.\"\n2. Ask the purpose of their call.\n3. Ask: \"Is this an emergency?\"\n4. IF EMERGENCY (${emergencyDef}):\n   - Collect name, callback number, and site address immediately.\n   - Attempt transfer to: ${er.primary || 'on-call technician'}.\n   - Fallback order: ${JSON.stringify(erOrder)}.\n   - If all transfers fail: \"I wasn't able to reach the on-call team. I've captured your details and dispatched an alert. Someone will reach you very shortly.\"\n5. IF NON-EMERGENCY:\n   - Collect name, number, and brief description.\n   - Confirm: \"I've noted your request and someone will follow up during business hours.\"\n\nRULES:\n- Never mention function calls or tools to the caller.\n- Only collect what is needed for routing.\n- Do not ask more questions than necessary.\n${constraints.length ? '- Constraints: ' + constraints.join('; ') : ''}`;\n\n  const spec = {\n    account_id,\n    agent_name: `Clara - ${v2Memo.company_name || account_id}`,\n    voice_style: 'professional, calm, empathetic',\n    system_prompt: prompt,\n    key_variables: {\n      timezone: bh.timezone || '',\n      business_hours: bh,\n      office_address: v2Memo.office_address || '',\n      emergency_routing: er\n    },\n    tool_invocation_placeholders: ['transfer_call', 'create_ticket', 'lookup_account'],\n    call_transfer_protocol: v2Memo.call_transfer_rules || {},\n    fallback_protocol: 'If all transfers fail, apologise, assure callback, log the attempt.',\n    version: 'v2'\n  };\n\n  return { json: { spec, v2Memo, changes, account_id } };\n});\n"
      },
      "name": "Generate Agent Spec v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "63128914-6bc5-4a4b-8300-1edbfd013cfb"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst results = [];\n\nfor (const item of $input.all()) {\n  if (item.json.error || item.json.parse_error) {\n    results.push({ json: { skipped: true, reason: item.json.error || item.json.error_message } });\n    continue;\n  }\n\n  const { spec, v2Memo, changes, account_id } = item.json;\n\n  // Create v2 directory\n  const dir = `/outputs/accounts/${account_id}/v2`;\n  if (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n\n  // Write v2 memo\n  fs.writeFileSync(`${dir}/account_memo_v2.json`, JSON.stringify(v2Memo, null, 2), 'utf8');\n\n  // Write v2 spec\n  fs.writeFileSync(`${dir}/agent_spec_v2.json`, JSON.stringify(spec, null, 2), 'utf8');\n\n  // Write changes.json\n  const changelog = {\n    account_id,\n    from_version: 'v1',\n    to_version: 'v2',\n    updated_at: new Date().toISOString(),\n    changes\n  };\n  fs.writeFileSync(`${dir}/changes.json`, JSON.stringify(changelog, null, 2), 'utf8');\n\n  // Also write to top-level changelog folder\n  const clDir = '/outputs/changelog';\n  if (!fs.existsSync(clDir)) fs.mkdirSync(clDir, { recursive: true });\n  fs.writeFileSync(`${clDir}/${account_id}_changes.json`, JSON.stringify(changelog, null, 2), 'utf8');\n\n  results.push({ json: { account_id, saved: true, changes_count: changes.length } });\n}\n\nreturn results;\n"
      },
      "name": "Save All v2 Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ],
      "id": "7dfc91e3-2a61-48ec-8336-b4bb4f2e45a7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -120
      ],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef0123456789",
      "name": "Merge Onboarding"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read Onboarding File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Onboarding File": {
      "main": [
        [
          {
            "node": "Build Onboarding Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Onboarding Prompt": {
      "main": [
        [
          {
            "node": "Extract Onboarding Updates (Ollama)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Onboarding Updates (Ollama)": {
      "main": [
        [
          {
            "node": "Merge Onboarding",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Onboarding": {
      "main": [
        [
          {
            "node": "Parse Onboarding Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Onboarding Updates": {
      "main": [
        [
          {
            "node": "Merge and Patch v1 to v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge and Patch v1 to v2": {
      "main": [
        [
          {
            "node": "Generate Agent Spec v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Agent Spec v2": {
      "main": [
        [
          {
            "node": "Save All v2 Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9f52d0d9-ef39-4340-affd-f4a2edb2e67d",
  "meta": {
    "instanceId": "a963f6aed17ccc06f510fb0cdbdd0de1d6c3a655e89bb4f4ce4f474ecb9d2f57"
  },
  "id": "OsGREovrWXwvJ12Y",
  "tags": []
}