workflows/pipeline_a.json
{
  "name": "Pipeline A - Demo Call to v1 Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}\n"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Account Memo (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        256
      ],
      "id": "a4310f3a-7141-4308-8f05-1f89ee898ae2",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const raw = item.json.response || \"\";\n\n  const cleaned = raw\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/```\\s*$/i, \"\")\n    .trim();\n\n  try {\n    const parsed = JSON.parse(cleaned);\n    return { json: { ...parsed, account_id: item.json.account_id } };\n  } catch (e) {\n    return {\n      json: {\n        memo: {\n          parse_error: true,\n          version: \"v1\",\n          source: \"demo_call\",\n          account_id: item.json.account_id\n        },\n        account_id: item.json.account_id\n      }\n    };\n  }\n});\n"
      },
      "name": "Parse Memo JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        272
      ],
      "id": "e19d3d28-47e0-4363-8aaa-ca183fb8d8ca"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Pass through parse_error items without crashing\n  if (item.json.memo?.parse_error === true) {\n    return {\n      json: {\n        account_id: item.json.account_id,\n        spec_generated: false,\n        memo: item.json.memo\n      }\n    };\n  }\n\n  const d = item.json;\n\n  const spec = {\n    version: \"v1\",\n    account_id: d.account_id || \"\",\n    company_name: d.company_name || \"\",\n\n    business_hours: {\n      days: d.business_hours?.days || [],\n      start: d.business_hours?.start || \"\",\n      end: d.business_hours?.end || \"\",\n      timezone: d.business_hours?.timezone || \"\"\n    },\n\n    office_address: d.office_address || \"\",\n\n    services_supported: d.services_supported || [],\n\n    emergency: {\n      definition: d.emergency_definition || \"\",\n      routing_rules: {\n        primary: d.emergency_routing_rules?.primary || \"\",\n        order: d.emergency_routing_rules?.order || [],\n        fallback: d.emergency_routing_rules?.fallback || \"\"\n      }\n    },\n\n    non_emergency: {\n      routing_rules: d.non_emergency_routing_rules || \"\"\n    },\n\n    call_transfer: {\n      timeout_seconds: d.call_transfer_rules?.timeout_seconds ?? null,\n      retries: d.call_transfer_rules?.retries ?? null,\n      message_if_fails: d.call_transfer_rules?.message_if_fails || \"\"\n    },\n\n    integration_constraints: d.integration_constraints || [],\n\n    flow_summaries: {\n      after_hours: d.after_hours_flow_summary || \"\",\n      office_hours: d.office_hours_flow_summary || \"\"\n    },\n\n    questions_or_unknowns: d.questions_or_unknowns || [],\n    notes: d.notes || \"\",\n\n    meta: {\n      source: \"demo_call\",\n      spec_generated: true,\n      generated_at: new Date().toISOString()\n    }\n  };\n\n  return { json: spec };\n});\n"
      },
      "name": "Generate Agent Spec v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        272
      ],
      "id": "427b04bd-92e9-41c6-9fb3-4ff06c97c41c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        176
      ],
      "id": "99d1b20e-f897-425d-bb92-decc60a989d2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  const account_id = d.account_id;\n\n  // Build memo from parsed fields on item.json\n  const memo = {\n    account_id,\n    company_name: d.company_name || '',\n    business_hours: d.business_hours || { days: '', start: '', end: '', timezone: '' },\n    office_address: d.office_address || '',\n    services_supported: d.services_supported || [],\n    emergency_definition: d.emergency_definition || [],\n    emergency_routing_rules: d.emergency_routing_rules || { primary: '', order: [], fallback: '' },\n    non_emergency_routing_rules: d.non_emergency_routing_rules || '',\n    call_transfer_rules: d.call_transfer_rules || { timeout_seconds: null, retries: null, message_if_fails: '' },\n    integration_constraints: d.integration_constraints || [],\n    after_hours_flow_summary: d.after_hours_flow_summary || '',\n    office_hours_flow_summary: d.office_hours_flow_summary || '',\n    questions_or_unknowns: d.questions_or_unknowns || [],\n    notes: d.notes || '',\n    version: 'v1',\n    source: 'demo_call',\n  };\n\n  const dir = `/outputs/accounts/${account_id}/v1`;\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(path.join(dir, 'account_memo_v1.json'), JSON.stringify(memo, null, 2));\n  results.push({ json: { account_id, saved_memo: true } });\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        112
      ],
      "id": "880a7027-0ca7-4fa3-a544-e377ac2ef4c4",
      "name": "Prepare Memo Binary"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst results = [];\nfor (const item of $input.all()) {\n  const inputData = item.json;\n  const account_id = inputData.account_id;\n  const dir = `/outputs/accounts/${account_id}/v1`;\n  fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(path.join(dir, 'agent_spec_v1.json'), JSON.stringify(inputData, null, 2));\n  results.push({ json: { account_id, saved_spec: true } });\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        432
      ],
      "id": "777fad3d-b266-4ff1-978a-1e0a04f80d92",
      "name": "Prepare Spec Binary"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const { transcript, account_id } = item.json;\n\n  const prompt = `You are an expert at extracting structured business information from call transcripts.\n\nExtract the following fields from this transcript and return ONLY valid JSON, no explanation, no markdown:\n\n{\n  \"account_id\": \"${account_id}\",\n  \"company_name\": \"\",\n  \"business_hours\": { \"days\": \"\", \"start\": \"\", \"end\": \"\", \"timezone\": \"\" },\n  \"office_address\": \"\",\n  \"services_supported\": [],\n  \"emergency_definition\": [],\n  \"emergency_routing_rules\": { \"primary\": \"\", \"order\": [], \"fallback\": \"\" },\n  \"non_emergency_routing_rules\": \"\",\n  \"call_transfer_rules\": { \"timeout_seconds\": null, \"retries\": null, \"message_if_fails\": \"\" },\n  \"integration_constraints\": [],\n  \"after_hours_flow_summary\": \"\",\n  \"office_hours_flow_summary\": \"\",\n  \"questions_or_unknowns\": [],\n  \"notes\": \"\"\n}\n\nRules:\n- Only extract what is EXPLICITLY stated. Do not guess or invent.\n- If a field is missing, leave it blank or empty array.\n- Put anything unclear in questions_or_unknowns.\n- Return ONLY the JSON object, nothing else.\n\nTranscript:\n${transcript}`;\n\n  return { json: { account_id, transcript, prompt } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        80
      ],
      "id": "116c70b0-b12b-4db8-86a3-ad7ce8254756",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst dir = '/data/transcripts/demo';\nconst allFiles = fs.readdirSync(dir);\nconst filtered = allFiles.filter(f => f.endsWith('.txt') && f !== '.gitkeep');\n\n// This will show in the output so we can see what's being found\nreturn filtered.map(filename => {\n  const content = fs.readFileSync(path.join(dir, filename), 'utf8').replace(/^\\uFEFF/, '').trim();\n  const account_id = filename.replace('.txt', '');\n  return { json: { account_id, transcript: content, filename, all_files_found: allFiles, filtered_files: filtered } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        80
      ],
      "id": "d28cdaf4-9af4-4c85-a081-bf67e9787bc5",
      "name": "Read Transcript File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        96
      ],
      "id": "74f41377-7403-495b-9f0b-dbfc6794cf05",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Account Memo (Ollama)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Memo JSON": {
      "main": [
        [
          {
            "node": "Generate Agent Spec v1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Memo Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Agent Spec v1": {
      "main": [
        [
          {
            "node": "Prepare Spec Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Transcript File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Memo Binary": {
      "main": [
        []
      ]
    },
    "Prepare Spec Binary": {
      "main": [
        []
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Extract Account Memo (Ollama)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Transcript File": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Memo JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f02582a-ae47-455d-b496-331b681a6ec3",
  "meta": {
    "instanceId": "a963f6aed17ccc06f510fb0cdbdd0de1d6c3a655e89bb4f4ce4f474ecb9d2f57"
  },
  "id": "Ipc2hL3FIE5l7MA9",
  "tags": []
}